
.DS_Store
Temp/
obj/
classes/
generated/
*.suo
bin/
*_out*
* Out*
*_out_*
* out*
*.ldb
Thumbs.db
_ReSharper*/
out/
*.lic
*.user
Out/
Out*/
Data/*Out*
TestResults/
*.vsmdi
test-results/
*.userprefs
packages/
Plugins/Aspose_Words_NET_for_PHP/.idea/*
Plugins/Aspose_Words_NET_for_PHP/vendor/*
Plugins/Aspose_Words_NET_for_PHP/composer.lock
*.gitattributes
*.ide
*.ide-shm
*.ide
*.ide-wal
.vs
build