
@model  LandingPageModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid header1 header2 minify-header appfamily-header">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Read and Generate Barcode online</h1>
				<h4>Read and Generate many types of barcodes online. Barcode Applications support QR, 1D, 2D, Postal barcodes and many other types.</h4>
			</div>
			<div class="col-md-4 tc">
				<img class=" col-xs-12" src="../img/aspose_barcode-brand.png" alt="Aspose.BarCode" width="320" />
			</div>
		</div>
	</div>
</div>
<div class="container-fluid productfamilypage bg-white pdb-5">
	<div class="row">
		<div class="container tc">
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>
			<h3>Aspose.BarCode Cross Platform Apps Include</h3>
			<div class="clearfix">&nbsp;</div>
			<div class="clearfix">&nbsp;</div>

			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_recognize-app.png" alt="Aspose.BarCode for .NET" />
					</div>
					<a href="/barcode/recognize"><span class="spanclass">Aspose.BarCode @Model.Resources["AsposeProductFor"] <em>Read Barcode</em></span> <em>Barcode Reader supports the following barcode symbologies: 1D Point of sale: UPC-A, UPC-E, EAN-8, EAN-13, GS1 DataBar (a.k.a. RSS) 1D Industrial Symbols: Code 39, Code 93, Code 128, GS1-128, Codabar, ITF-14 2D Symbols: QR Code, Data Matrix, Aztec, PDF 417.</em></a>
				</div>
			</div>
			<div class="col-lg-4 productfamily_box">
				<div class="productfamilytitle">
					<div class="imgblock">
						<img src="../img/aspose_generate-app.png" alt="Aspose.BarCode for .NET" />
					</div>
					<a href="/barcode/generate"><span class="spanclass">Aspose.BarCode @Model.Resources["AsposeProductFor"] <em>Generate Barcode</em></span> <em>Generate QR Barcode, generate 1D, 2D, Postal barcodes and many other barcode types.</em></a>
				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="spacer">&nbsp;</div>
